.first h1{
    border-left: 3px solid rgb(228, 113, 47);
    border-image-slice: 1%;
    /* border-radius: 5px 5px 5px 5px; */
    border-top: 20px;
    margin-left: 50px;
    margin-top: 70px;
    padding-left: 10px;
    font-family: 'Yeseva One', cursive;
    height: 100px;
    font-size: 45px;
    text-align: justify;
}

.first a{
    text-decoration: none;
    padding: 9px 20px;
    color: white;
    background-color: rgb(232, 86, 78);
    border-radius: 5px;
    text-align: justify;
}



.first{
    margin-left: 90px;
    margin-top: 70px;
    
}
.second img{
    width: 380px;
    height: 500px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 150px;
}
.zero{
    display: flex;
}
p{
    margin-left: 50px;
    font-family: 'Rubik', sans-serif;

}
span{
    color: rgb(235, 179, 75);
}
.two{
    color: rgb(49, 45, 45);
}
.box{
    width: 220px;
    height: 260px;
    background-color: aliceblue;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 3%;
    font-family: 'Rubik', sans-serif;
    
}
.box img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.box1{
    width: 220px;
    height: 260px;
    background-color: mistyrose;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: justify;
    padding: 3%;
    font-family: 'Rubik', sans-serif;
}
.box1 img{
    width: 100px;
    height: 100px;
    
    margin-left: 10px;
    
   
}
.box2{
    width: 220px;
    height: 260px;
    background-color: rgb(255, 228, 178);
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 3%;
    font-family: 'Rubik', sans-serif;
}
.box2 img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.third{
    
        height: 50px;
        margin-left: 380px;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
}
.fourth{
    display: flex;
    margin-left: 110px;
}

h2{
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.three img{
    width: 300px;
    height:300px;
    margin-top: 90px;
    margin-left: 90px;

}

.banner img {
    width: 12em;
    height: 12em;
    margin-left: 80px;
    margin-top: 120px;
    
}
.banner{
    width: 10px;
    height: 10px;
    margin-bottom: 250px;
    margin-right: 40px;
}
.fifth{
    display: flex;
}
.five{
    margin-left: 50px;
    margin-top: 8%;
    font-size: 18px;
    margin-right: 180px;
    font-family: 'Poppins', sans-serif;
}

.fifth a{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(233, 76, 76);
    padding: 13px 22px;
    border-radius: 5px;
    font-size :12px;
}
.five h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.five h1{
    color: rgb(49, 45, 45);
}
.six{
    margin-left: 150px;
    margin-top: 50px;
    
    font-size: 15px;
     font-family: 'Poppins', sans-serif;
}
.sixth a{
        text-decoration: none;
        color: aliceblue;
        background-color: rgb(233, 76, 76);
    padding: 13px 22px;
    border-radius: 5px;
    font-size :12px;
}
.six h1{
    color: rgb(49, 45, 45);
}
.six h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        
       
}
.seven img{
    width: 310px;
    height: 300px;
    margin-top: 90px;
    margin-right: 120px;
    
    
}
.sixth{
    display: flex;
}
.banner1 img {
    width: 10em;
    height: 10em;
    margin-top: 180%;
    margin-left: 235%;
}
.rose{
    margin-left: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.eight img{
 width:230px;
 height: 450px;
 margin-left: 30px;
 margin-top: 20px;
 
}
.banner2 img{
    width: 60px;
    height: 60px;
    
}
.banner2{
    margin-bottom: 50px;
}
.banner3 img{
    width: 60px;
    height: 60px;
    
}

.box3{
    width: 110px;
    height: 110px;
    background-color: rgb(240, 164, 72);
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 50px;
}
.seventh{
    display: flex;
}
.nine{
    margin-left: 25%;
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.nine h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.box4{
    width: 60px;
    height: 60px;
    background-color: rgb(255, 182, 80);
    border-radius: 20px;
    margin-top: 90px;
}
.nine a{
   text-decoration: none;
   color: white;
   background-color: rgb(233, 76, 76);
    padding: 10px 20px;
    border-radius: 5px;
    font-size :12px;

}
.box8{
    width: 60px;
    height: 60px;
background-color: rgb(255, 162, 0);
margin-left: 35%;
border-radius: 20px;
}
.box7{
    width: 60px;
    height: 60px;
background-color: rgb(255, 162, 0);
margin-left: 20%;
border-radius: 20px;
margin-top: 15px;
}
.box9{
    width: 110%;
    height: 130px;
    background-color: rgb(2, 3, 49);
    color: white;
    padding-top:20px;
}
.box9 i{
    margin-left: 40%;
   padding-top: 50px;
   font-family: 'Lobster Two', cursive;
   font-size: 30px;
}
.box9 h4{
    margin-left: 36%;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.color{
    color: rgb(255, 85, 0);
}